# –í–µ–±–∏–Ω–∞—Ä 4. –î–æ–º–∞—à–Ω–µ–µ –∑–∞–¥–∞–Ω–∏–µ

–°–∞–º–æ –¥–æ–º–∞—à–Ω–µ–µ –∑–∞–¥–∞–Ω–∏–µ –Ω–∞—Ö–æ–∂–∏—Ç—Å—è –≤ –∫–æ–Ω—Ü–µ –Ω–æ—É—Ç–±—É–∫–∞

---

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# –î–ª—è —Ä–∞–±–æ—Ç—ã —Å –º–∞—Ç—Ä–∏—Ü–∞–º–∏
from scipy.sparse import csr_matrix

# –ú–∞—Ç—Ä–∏—á–Ω–∞—è —Ñ–∞–∫—Ç–æ—Ä–∏–∑–∞—Ü–∏—è
from implicit.als import AlternatingLeastSquares
from implicit.nearest_neighbours import ItemItemRecommender  # –Ω—É–∂–µ–Ω –¥–ª—è –æ–¥–Ω–æ–≥–æ —Ç—Ä—é–∫–∞
from implicit.nearest_neighbours import bm25_weight, tfidf_weight

# –§—É–Ω–∫—Ü–∏–∏ –∏–∑ 1-–æ–≥–æ –≤–µ–±–∏–Ω–∞—Ä–∞
import os, sys

module_path = os.path.abspath(os.path.join(os.pardir))
if module_path not in sys.path:
    sys.path.append(module_path)
    
from src.metrics import precision_at_k, recall_at_k
from src.utils import prefilter_items
from pandas.api.types import CategoricalDtype
from implicit.nearest_neighbours import bm25_weight, tfidf_weight
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('data/transaction_data.csv')

data.columns = [col.lower() for col in data.columns]
data.rename(columns={'household_key': 'user_id',
                    'product_id': 'item_id'},
           inplace=True)


test_size_weeks = 3

data_train = data[data['week_no'] < data['week_no'].max() - test_size_weeks]
data_test = data[data['week_no'] >= data['week_no'].max() - test_size_weeks]

data_train.head(2)

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.6,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.0,1631,1,0.0,0.0

In [3]:
item_features = pd.read_csv('data/product.csv')
item_features.columns = [col.lower() for col in item_features.columns]
item_features.rename(columns={'product_id': 'item_id'}, inplace=True)

item_features.head(2)

,item_id,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product
0,25671,2,GROCERY,National,FRZN ICE,ICE - CRUSHED/CUBED,22 LB
1,26081,2,MISC. TRANS.,National,NO COMMODITY DESCRIPTION,NO SUBCOMMODITY DESCRIPTION,

In [4]:
result = data_test.groupby('user_id')['item_id'].unique().reset_index()
result.columns=['user_id', 'actual']
result.head(2)

   user_id                                             actual
0        1  [879517, 934369, 1115576, 1124029, 5572301, 65...
1        3  [823704, 834117, 840244, 913785, 917816, 93870...

In [5]:
n_items_before = data_train['item_id'].nunique()

data_train = prefilter_items(data_train, item_features)

n_items_after = data_train['item_id'].nunique()
print('Decreased # items from {} to {}'.format(n_items_before, n_items_after))

Decreased # items from 90386 to 4938

In [6]:
user_item_matrix = pd.pivot_table(data_train, 
                                  index='user_id', columns='item_id', 
                                  values='quantity', # –ú–æ–∂–Ω–æ –ø—Ä–æ–±–æ–≤–∞—Ç —å–¥—Ä—É–≥–∏–µ –≤–∞—Ä–∏–∞–Ω—Ç—ã
                                  aggfunc='count', 
                                  fill_value=0
                                 )

user_item_matrix = user_item_matrix.astype(float) # –Ω–µ–æ–±—Ö–æ–¥–∏–º—ã–π —Ç–∏–ø –º–∞—Ç—Ä–∏—Ü—ã –¥–ª—è implicit

user_item_matrix.head(3)

item_id,818980,818981,819063,819255,819304,819308,819330,819518,819594,819765,...,15926927,15927403,15927850,15972074,15972298,16100266,16729415,16770156,16809471,17105257
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
userids = user_item_matrix.index.values
itemids = user_item_matrix.columns.values

matrix_userids = np.arange(len(userids))
matrix_itemids = np.arange(len(itemids))

id_to_itemid = dict(zip(matrix_itemids, itemids))
id_to_userid = dict(zip(matrix_userids, userids))

itemid_to_id = dict(zip(itemids, matrix_itemids))
userid_to_id = dict(zip(userids, matrix_userids))

In [8]:
user_item_matrix = bm25_weight(user_item_matrix.T).T  # –ü—Ä–∏–º–µ–Ω—è–µ—Ç—Å—è –∫ item-user –º–∞—Ç—Ä–∏—Ü–µ !

-----

# –î–æ–º–∞—à–Ω–µ–µ –∑–∞–¥–∞–Ω–∏–µ

1. –ü–µ—Ä–µ–Ω–µ—Å–∏—Ç–µ –º–µ—Ç—Ä–∏–∫–∏ –≤ –º–æ–¥—É–ª—å src.metrics.py
2. –ü–µ—Ä–µ–Ω–µ—Å–∏—Ç–µ —Ñ—É–Ω–∫—Ü–∏—é prefilter_items –≤ –º–æ–¥—É–ª—å src.utils.py
3. –°–æ–∑–¥–∞–π—Ç–µ –º–æ–¥—É–ª—å src.recommenders.py. –ù–∞–ø–∏—â–∏—Ç–µ –∫–æ–¥ –¥–ª—è –∫–ª–∞—Å—Å–∞ –Ω–∏–∂–µ 
(–∑–∞–¥–∞–Ω–∏–µ –æ–±—Å—É–∂–¥–∞–ª–∏ –Ω–∞ –≤–µ–±–∏–Ω–∞—Ä–µ, –¥–ª—è –ø–µ—Ä–≤–æ–π —Ñ—É–Ω–∫—Ü–∏–∏ –ø—Ä–∞–∫—Ç–∏—á–µ—Å–∫–∏ —Å–¥–µ–ª–∞–ª–∏) –∏ –ø–æ–ª–æ–∂–∏—Ç–µ –µ–≥–æ –≤ src.recommenders.py
4. –ü—Ä–æ–≤–µ—Ä—å—Ç–µ, —á—Ç–æ –≤—Å–µ –º–æ–¥—É–ª–∏ –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ –∏–º–ø–æ—Ä—Ç–∏—Ä—É—é—Ç—Å—è

In [14]:
import pandas as pd
import numpy as np

# –î–ª—è —Ä–∞–±–æ—Ç—ã —Å –º–∞—Ç—Ä–∏—Ü–∞–º–∏
from scipy.sparse import csr_matrix

# –ú–∞—Ç—Ä–∏—á–Ω–∞—è —Ñ–∞–∫—Ç–æ—Ä–∏–∑–∞—Ü–∏—è
from implicit.als import AlternatingLeastSquares
from implicit.nearest_neighbours import ItemItemRecommender  # –Ω—É–∂–µ–Ω –¥–ª—è –æ–¥–Ω–æ–≥–æ —Ç—Ä—é–∫–∞
from implicit.nearest_neighbours import bm25_weight, tfidf_weight


class MainRecommender:
    """–†–µ–∫–æ–º–º–µ–Ω–¥–∞—Ü–∏–∏, –∫–æ—Ç–æ—Ä—ã–µ –º–æ–∂–Ω–æ –ø–æ–ª—É—á–∏—Ç—å –∏–∑ ALS

    Input
    -----
    user_item_matrix: pd.DataFrame
        –ú–∞—Ç—Ä–∏—Ü–∞ –≤–∑–∞–∏–º–æ–¥–µ–π—Å—Ç–≤–∏–π user-item
    """

    def __init__(self, data, weighting=True):
        # your_code. –≠—Ç–æ –Ω–µ –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–∞—è —á–∞—Å—Ç—å. –ù–æ –µ—Å–ª–∏ –≤–∞–º —É–¥–æ–±–Ω–æ —á—Ç–æ-–ª–∏–±–æ –ø–æ—Å—á–∏—Ç–∞—Ç—å —Ç—É—Ç - –º–æ–∂–Ω–æ —ç—Ç–æ —Å–¥–µ–ª–∞—Ç—å
        self.data = data
        self.user_item_matrix = self.prepare_matrix(data)  # pd.DataFrame
        self.id_to_itemid, self.id_to_userid, self.itemid_to_id, self.userid_to_id = \
            self.prepare_dicts(self.user_item_matrix)

        if weighting:
            self.user_item_matrix = bm25_weight(self.user_item_matrix.T).T

        self.model = self.fit(self.user_item_matrix)
        self.own_recommender = self.fit_own_recommender(self.user_item_matrix)

    @staticmethod
    def prepare_matrix(data):
        user_item_matrix = pd.pivot_table(data,
                                          index='user_id', columns='item_id',
                                          values='quantity',
                                          aggfunc='count',
                                          fill_value=0
                                          )
        user_item_matrix = user_item_matrix.astype(float)

        return user_item_matrix

    @staticmethod
    def prepare_dicts(user_item_matrix):
        """–ü–æ–¥–≥–æ—Ç–∞–≤–ª–∏–≤–∞–µ—Ç –≤—Å–ø–æ–º–æ–≥–∞—Ç–µ–ª—å–Ω—ã–µ —Å–ª–æ–≤–∞—Ä–∏"""

        userids = user_item_matrix.index.values
        itemids = user_item_matrix.columns.values

        matrix_userids = np.arange(len(userids))
        matrix_itemids = np.arange(len(itemids))

        id_to_itemid = dict(zip(matrix_itemids, itemids))
        id_to_userid = dict(zip(matrix_userids, userids))

        itemid_to_id = dict(zip(itemids, matrix_itemids))
        userid_to_id = dict(zip(userids, matrix_userids))

        return id_to_itemid, id_to_userid, itemid_to_id, userid_to_id

    @staticmethod
    def fit_own_recommender(user_item_matrix):
        """–û–±—É—á–∞–µ—Ç –º–æ–¥–µ–ª—å, –∫–æ—Ç–æ—Ä–∞—è —Ä–µ–∫–æ–º–µ–Ω–¥—É–µ—Ç —Ç–æ–≤–∞—Ä—ã, —Å—Ä–µ–¥–∏ —Ç–æ–≤–∞—Ä–æ–≤, –∫—É–ø–ª–µ–Ω–Ω—ã—Ö —é–∑–µ—Ä–æ–º"""

        own_recommender = ItemItemRecommender(K=1, num_threads=4)
        own_recommender.fit(user_item_matrix.T)

        return own_recommender

    @staticmethod
    def fit(user_item_matrix, n_factors=20, regularization=0.001, iterations=15, num_threads=4):
        """–û–±—É—á–∞–µ—Ç ALS"""

        model = AlternatingLeastSquares(factors=n_factors,
                                        regularization=regularization,
                                        iterations=iterations,
                                        num_threads=num_threads)
        model.fit(user_item_matrix.T)

        return model

    def get_similar_items_recommendation(self, user, N=5):
        """–†–µ–∫–æ–º–µ–Ω–¥—É–µ–º —Ç–æ–≤–∞—Ä—ã, –ø–æ—Ö–æ–∂–∏–µ –Ω–∞ —Ç–æ–ø-N –∫—É–ø–ª–µ–Ω–Ω—ã—Ö —é–∑–µ—Ä–æ–º —Ç–æ–≤–∞—Ä–æ–≤"""

        res = [self.id_to_itemid[rec[0]] for rec in
               self.model.recommend(userid=self.userid_to_id[user],
                                    user_items=self.user_item_matrix,  # –Ω–∞ –≤—Ö–æ–¥ user-item matrix
                                    N=N,
                                    filter_already_liked_items=False,
                                    filter_items=[999999],  # !!!
                                    recalculate_user=True)]

        assert len(res) == N, '–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–π != {}'.format(N)
        return res

    def get_similar_users_recommendation(self, user, N=5):
        """–†–µ–∫–æ–º–µ–Ω–¥—É–µ–º —Ç–æ–ø-N —Ç–æ–≤–∞—Ä–æ–≤, —Å—Ä–µ–¥–∏ –∫—É–ø–ª–µ–Ω–Ω—ã—Ö –ø–æ—Ö–æ–∂–∏–º–∏ —é–∑–µ—Ä–∞–º–∏"""

        similar_users = [self.id_to_userid[i] for i, _ in self.model.similar_users(self.userid_to_id[user], N=6)[1:]]

        result = self.data.query('(user_id in @similar_users) & (item_id != 999999)').groupby(['user_id', 'item_id'])[
            'quantity'].count().reset_index()

        result.sort_values('quantity', ascending=False, inplace=True)

        res = list(result['item_id'].values[:N])

        assert len(res) == N, '–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–π != {}'.format(N)
        return res

----

–ü—Ä–æ–≤–µ—Ä–∫–∞, —á—Ç–æ –≤—Å–µ —Ä–∞–±–æ—Ç–∞–µ—Ç

In [15]:
from src.metrics import precision_at_k, recall_at_k
from src.utils import prefilter_items
# from src.recommenders import MainRecommender

recommender = MainRecommender(prefilter_items(data, item_features))

WARNING:root:OpenBLAS detected. Its highly recommend to set the environment variable 'export OPENBLAS_NUM_THREADS=1' to disable its internal multithreading

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=15.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=4930.0), HTML(value='')))

In [16]:
recommender.get_similar_users_recommendation(2)

[1106523, 962229, 1053690, 1125123, 8090521]

In [17]:
recommender.get_similar_items_recommendation(3)

[844165, 1053690, 1092026, 8090537, 962229]

### –î–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –¥–æ–º–∞—à–Ω–µ–µ –∑–∞–¥–∞–Ω–∏–µ*
**–í–∞–∂–Ω–æ:** –¥–ª—è –ø–æ–ª—É—á–µ–Ω–∏—è –æ—Ü–µ–Ω–∫–∏ "–•–æ—Ä–æ—à–æ" –¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ –≤—ã–ø–æ–ª–Ω–∏—Ç—å –≤—Å–µ —É–∫–∞–∑–∞–Ω–Ω–æ–µ –≤—ã—à–µ, —á—Ç–æ–±—ã –ø–æ–ª—É—á–∏—Ç—å "–û—Ç–ª–∏—á–Ω–æ" –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –≤—ã–ø–æ–ª–Ω–∏—Ç—å —Ö–æ—Ç—è –±—ã –ø–æ–ª–æ–≤–∏–Ω—É —ç—Ç–æ–≥–æ –∑–∞–¥–∞–Ω–∏—è (–æ–ø–∏—Å–∞—Ç—å –ø–∞–π–ø–ª–∞–π–Ω –ø–ª–∞–Ω–∏—Ä—É–µ–º—ã—Ö –¥–µ–π—Å—Ç–≤–∏–π –∏ –≤—ã–ø–æ–ª–Ω–∏—Ç—å –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ –¥–∞—Ç–∞—Å–µ—Ç–∞ –≤ –ø–æ–Ω—è—Ç–Ω—ã–π –¥–ª—è —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ç–µ–ª—å–Ω–æ–π —Å–∏—Å—Ç–µ–º—ã –≤–∏–¥, –≤ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–∏–∏ —Å —Ç—Ä–µ–±–æ–≤–∞–Ω–∏—è–º–∏, —Å–º. –Ω–∏–∂–µ).

–≠—Ç–æ —á–∞—Å—Ç—å –¥–∑ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ –ø—Ä–∏–±–ª–∏–∂–µ–Ω–∞ –∫ —Ä–µ–∞–ª—å–Ω—ã–º –∑–∞–¥–∞—á–∞–º –∏–∑ –æ–±–ª–∞—Å—Ç–∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ç–µ–ª—å–Ω—ã—Ö —Å–∏—Å—Ç–µ–º. –¶–µ–ª—å —ç—Ç–æ–π —á–∞—Å—Ç–∏ –Ω–∞—É—á–∏—Ç—å –≤–∞—Å —Å—Ç—Ä–æ–∏—Ç—å –ø–æ–ª–Ω–æ—Ü–µ–Ω–Ω—ã–π –ø–∞–π–ø–ª–∞–π–Ω, –æ—Ç –ø—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∏ –¥–∞–Ω–Ω—ã—Ö, –¥–æ –ø–æ–ª—É—á–µ–Ω–∏—è MVP —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ç–µ–ª—å–Ω–æ–π —Å–∏—Å—Ç–µ–º—ã (–¥–∞—Ç–∞—Å–µ—Ç + –æ–±—É—á–µ–Ω–Ω–∞—è –Ω–∞ –Ω–µ–º –º–æ–¥–µ–ª—å).

–í –∫–∞—á–µ—Å—Ç–≤–µ –∏—Å—Ö–æ–¥–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö –≤–∞–º –¥–∞–Ω –¥–∞—Ç–∞—Å–µ—Ç –∏–∑ —Ä–∏—Ç–µ–π–ª–∞ (–æ—Ç–ª–∏—á–Ω—ã–π –æ—Ç —Ç–æ–≥–æ –∫–æ—Ç–æ—Ä—ã–π –º—ã —Ä–∞—Å—Å–º–∞—Ç—Ä–∏–≤–∞–µ–º –Ω–∞ –∫—É—Ä—Å–µ), –µ–≥–æ –º–æ–∂–Ω–æ –Ω–∞–π—Ç–∏ –ø–æ –ø—É—Ç–∏ (data/events.csv.zip).

–ó–∞–¥–∞—á–∞ –∑–≤—É—á–∏—Ç —Ç–∞–∫:
"–ö–æ–º–ø–∞–Ω–∏—è, –∑–∞–Ω–∏–º–∞—é—â–∞—è—Å—è —Ä–∏—Ç–µ–π–ª–æ–º, —Ö–æ—á–µ—Ç –∑–∞–ø—É—Å—Ç–∏—Ç—å —Ä–∞—Å—Å—ã–ª–∫—É —Å –∏–Ω–¥–∏–≤–∏–¥—É–∞–ª—å–Ω—ã–º–∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏—è–º–∏, –¥–ª—è —Ç–µ—Å—Ç–∞ –≤–∞–º –∫–∞–∫ —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç—É –≤ –æ–±–ª–∞—Å—Ç–∏ DS –≥–æ—Ç–æ–≤—ã –ø—Ä–µ–¥–æ—Å—Ç–∞–≤–∏—Ç—å –¥–∞–Ω–Ω—ã–µ –æ —Å–æ–±—ã—Ç–∏—è—Ö —Å–æ–≤–µ—Ä—à–µ–Ω–Ω—ã—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è–º–∏, –µ–¥–∏–Ω—Å—Ç–≤–µ–Ω–Ω–æ–π —Ü–µ–ª—å—é –Ω–∞ –¥–∞–Ω–Ω–æ–º —ç—Ç–∞–ø–µ —è–≤–ª—è–µ—Ç—Å—è —É–≤–µ–ª–∏—á–µ–Ω–∏–µ –≤—ã—Ä—É—á–∫–∏".

*–û—Ç—Å—Ç—É–ø–ª–µ–Ω–∏–µ:* –∫ —Å–æ–∂–∞–ª–µ–Ω–∏—é –≤ —Ä–µ–∞–ª—å–Ω–æ–π –∂–∏–∑–Ω–∏ DS —ç—Ç–æ –Ω–µ –ø—Ä–æ –º–æ–¥–µ–ª–∏ –∏ –Ω–µ–π—Ä–æ–Ω–Ω—ã–µ —Å–µ—Ç–∏, –≤ –±–æ–ª—å—à–∏–Ω—Å—Ç–≤–µ —Å–ª—É—á–∞–µ–≤ –≤–∞–º –ø—Ä–∏–¥–µ—Ç—Å—è —Ä–∞–±–æ—Ç–∞—Ç—å —Å –¥–∞–Ω–Ω—ã–º–∏, –æ—á–µ–Ω—å –º–Ω–æ–≥–æ –∏ –¥–∞–Ω–Ω—ã–µ –º–æ–≥—É—Ç –±—ã—Ç—å —Ä–∞–∑–ª–∏—á–Ω–æ–≥–æ –∫–∞—á–µ—Å—Ç–≤–∞ (–≤ –±–æ–ª—å—à–∏–Ω—Å—Ç–≤–µ —Å–ª—É—á–∞–µ–≤ –Ω–µ —Å–∞–º–æ–≥–æ —Ö–æ—Ä–æ—à–µ–≥–æ üóë). –ü–æ—ç—Ç–æ–º—É –æ—á–µ–Ω—å –≤–∞–∂–Ω—É—é —á–∞—Å—Ç—å –≤ —Ä–∞–±–æ—Ç–µ DS –∑–∞–Ω–∏–º–∞–µ—Ç –ø—Ä–æ–µ–∫—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ –∏ —Å–æ–∑–¥–∞–Ω–∏–µ –¥–∞—Ç–∞—Å–µ—Ç–∞. –û–±—ã—á–Ω–æ —ç—Ç–æ –ø—Ä–æ–∏—Å—Ö–æ–¥–∏—Ç –ø–æ —Å–ª–µ–¥—É—é—â–µ–º—É –ø–∞–π–ø–ª–∞–π–Ω—É:
   1. –í—ã–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö
   2. –†–∞–∑–≤–µ–¥–æ—á–Ω—ã–π –∞–Ω–∞–ª–∏–∑ (–ø–æ–∏—Å–∫ –∞–Ω–æ–º–∞–ª–∏–π, –æ—Ü–µ–Ω–∫–∞ –∞—É–¥–∏—Ç–æ—Ä–∏–∏ –∏ –µ–µ —Å–µ–≥–º–∞–Ω—Ç–∞—Ü–∏—è, –ø–æ–∏—Å–∫ –∏–Ω—Å–∞–π—Ç–æ–≤)
   3. –ü—Ä–æ–µ–∫—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ –¥–∞—Ç–∞—Å–µ—Ç–∞ (–¥–ª—è –ø—Ä–æ–µ–∫—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ –¥–∞—Ç–∞—Å–µ—Ç–∞ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –ø–æ–Ω–∏–º–∞–Ω–∏–µ –º–æ–¥–µ–ª–µ–π –∫–æ—Ç–æ—Ä—ã–µ –∏—Å–ø–æ–ª—å–∑—É—é—Ç—Å—è –≤ —ç—Ç–æ–π –æ–±–ª–∞—Å—Ç–∏, –ø–æ–º–∏–º–æ —ç—Ç–æ–≥–æ –Ω—É–∂–Ω–æ –æ–ø—Ä–µ–¥–µ–∏—Ç—å—Å—è —á—Ç–æ –±—É–¥–µ—Ç –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å—Å—è –≤ –∫–∞—á–µ—Å—Ç–≤–µ —Ç–∞—Ä–≥–µ—Ç–∞ –∏ –∫–∞–∫–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ —Å—Ç–æ–∏—Ç –¥–æ–±–∞–≤–ª—è—Ç—å, –∞ –∫–∞–∏–µ –Ω–µ –∏–º–µ–µ—Ç —Å–º—ã—Å–ª–∞)
   4. –°–æ–∑–¥–∞–Ω–∏–µ –±—ç–π–∑–ª–∞–π–Ω–∞ (–≤–∞–∂–Ω–∞—è —á–∞—Å—Ç—å –∫–æ—Ç–æ—Ä—É—é –ª–µ–≥–∫–æ —É–ø—É—Å—Ç–∏—Ç—å, –Ω–æ –±–µ–∑ –Ω–µ–µ –Ω–µ–≤–æ–∑–º–æ–∂–Ω–æ –¥–æ–∫–∞–∑–∞—Ç—å —Å–æ—Å—Ç–æ—è—Ç–µ–ª—å–Ω–æ—Å—Ç—å –º–æ–¥–µ–ª–∏)
   5. –°–æ–∑–¥–∞–Ω–∏–µ MVP
   1. –ü—Ä–æ–¥–æ–ª–∂–∞–µ–º —É–ª—É—á—à–µ–Ω–∏–µ –≤ –ø–æ–ø—ã—Ç–∫–µ –ø–æ–±–∏—Ç—å –±—ç–π–∑–ª–∞–π–Ω –∏–ª–∏ –ª–∏–Ω–µ–π–Ω—É—é –º–æ–¥–µ–ª—å :)
   
–û–±—è–∑–∞—Ç–µ–ª—å–Ω—ã–µ —Ç—Ä–µ–±–æ–≤–∞–Ω–∏—è –∫ –∑–∞–¥–∞–Ω–∏—é:
1. –í –¥–∞–Ω–Ω–æ–º –∑–∞–¥–∞–Ω–∏–∏ —Ä–∞–∑–≤–µ–¥–æ—á–Ω—ã–π –∞–Ω–∞–ª–∏–∑ —è–≤–ª—è–µ—Ç—Å—è –Ω–µ–æ–±—è–∑–∞—Ç–µ–ª—å–Ω—ã–º, –µ–≥–æ –º–æ–∂–Ω–æ –ø—Ä–æ–ø—É—Å—Ç–∏—Ç—å.
1. –ù–µ–æ–±—Ö–æ–¥–∏–º–æ –æ–ø–∏—Å–∞—Ç—å –ø–æ—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å–Ω–æ—Å—Ç—å –≤–∞—à–∏—Ö –¥–µ–π—Å—Ç–≤–∏–π (3-5 –ø—É–Ω–∫—Ç–æ–≤, –∏–Ω—ã–º–∏ —Å–ª–æ–≤–∞–º–∏ —Å—Ñ–æ—Ä–º–∏—Ä–æ–≤–∞—Ç—å –∑–∞–¥–∞—á—É —Å —Ç–µ—Ö–Ω–∏—á–µ—Å–∫–æ–π —Å—Ç–æ—Ä–æ–Ω—ã, –∫–∞–∫ –±—ã –≤—ã –ø—Ä–µ–ø–æ–¥–Ω–µ—Å–ª–∏ –µ–µ –±–∏–∑–Ω–µ—Å—É)
1. –°–æ–∑–¥–∞–Ω–∏–µ user_item_matrix –¥–æ–ª–∂–Ω–æ –ø—Ä–æ–∏—Å—Ö–æ–¥–∏—Ç—å –±–µ–∑ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏—è —Å–≤–æ–¥–Ω—ã—Ö —Ç–∞–±–ª–∏—Ü (pd.pivot), —Å–æ–≤–µ—Ç: coo_matrix –∏–ª–∏ –ø—Ä–æ—Å—Ç–æ –≥—É–≥–ª.
2. –°–æ–∑–¥–∞—Ç—å –±—ç–π–∑–ª–∞–π–Ω
1. –ò—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –ª—é–±—É—é –∏–∑ –º–æ–¥–µ–ª–µ–π –∫–æ—Ç–æ—Ä—É—é –º—ã —Å –≤–∞–º–∏ –∏–∑—É—á–∏–ª–∏ —Ä–∞–Ω–µ–µ

*–ó–∞—á–µ–º –≤–∞–º —ç—Ç–æ?*

–ï—Å–ª–∏ –≤—ã —Ä–µ–∞–ª–∏–∑—É–µ—Ç–µ –≤—Å–µ –≤—ã—à–µ—É–∫–∞–∑–∞–Ω–Ω–æ–µ –∏ –ø–æ–ª—É—á–µ—Ç–µ —Å—Ä–µ–¥–Ω–∏–π –¥–ª—è —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ç–µ–ª—å–Ω—ã—Ö —Å–∏—Å—Ç–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç > 10%, —Ç–æ —ç—Ç–æ –±—É–¥–µ—Ç –æ—Ç–ª–∏—á–Ω—ã–º –ø–µ—Ç-–ø—Ä–æ–µ–∫—Ç–æ–º –∫–æ—Ç–æ—Ä—ã–π –±—É–¥–µ—Ç –Ω–µ —Å—Ç—ã–¥–Ω–æ —É–∫–∞–∑–∞—Ç—å –ø—Ä–∏ —É—Å—Ç—Ä–æ–π—Å—Ç–≤–µ –Ω–∞ —Ä–∞–±–æ—Ç—É, –æ–∑–∞–≥–ª–∞–≤–∏–≤ –µ–≥–æ –∫–∞–∫ "–°–æ–∑–¥–∞–Ω–∏–µ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ç–µ–ª—å–Ω–æ–π —Å–∏—Å—Ç–µ–º—ã –¥–ª—è —Ä–∏—Ç–µ–π–ª–∞ —Å 0".

–ö—Ä—É—Ç—ã–µ —Ñ–∏—á–∏ –∫–æ—Ç–æ—Ä—ã–µ –º–æ–∂–Ω–æ –¥–æ–±–∞–≤–∏—Ç—å** (—ç—Ç–æ –ø—Ä—è–º —Å—É–ø–µ—Ä –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ –∏ —Å–º–æ–∂–µ—Ç –ø—Ä–∏–≥–æ–¥–∏—Ç—å—Å—è —Ç–æ–ª—å–∫–æ –≤–∞–º):
1. –î–æ–±–∞–≤–∏—Ç—å –º–µ—Ç–æ–¥ –¥–ª—è —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–π –ø–æ—Ö–æ–∂–∏—Ö —Ç–æ–≤–∞—Ä–æ–≤ (–ø–æ–¥—É–º–∞—Ç—å –∫–∞–∫ –º–æ–∂–Ω–æ –æ—Ü–µ–Ω–∏—Ç—å –¥–∞–Ω–Ω—É—é —Å–∏—Å—Ç–µ–º—É)
1. –ü—Ä–æ–≤–µ—Å—Ç–∏ —Ä–∞–∑–≤–µ–¥–æ—á–Ω—ã–π –∞–Ω–∞–ª–∏–∑ (–≤—Å–µ –ª—é–±—è—Ç –∫–∞—Ä—Ç–∏–Ω–∫–∏ –∏ –≥—Ä–∞—Ñ–∏–∫–∏)
1. –î–æ–±–∞–≤–∏—Ç—å —á—Ç–æ-–Ω–∏–±—É–¥—å –æ—Ç —Å–µ–±—è!

In [125]:
df = pd.read_csv('data/events.csv.zip', compression='zip')

In [126]:
df.head()

       timestamp  visitorid event  itemid  transactionid
0  1433221332117     257597  view  355908            NaN
1  1433224214164     992329  view  248676            NaN
2  1433221999827     111016  view  318965            NaN
3  1433221955914     483717  view  253185            NaN
4  1433221337106     951259  view  367447            NaN

In [127]:
df.event.unique()

array(['view', 'addtocart', 'transaction'], dtype=object)

In [128]:
event_replacement = dict(zip(df.event.unique(), [1, 3, 6]))
event_replacement

{'view': 1, 'addtocart': 3, 'transaction': 6}

In [129]:
df['event'].replace(event_replacement, inplace=True)

In [134]:
print(f'Interactions: {df.shape[0]}',
      f'Num unique users: {df.visitorid.nunique()}',
      f'Num unique items: {df.itemid.nunique()}',
      sep='\n'
     )

Interactions: 2756101
Num unique users: 1407580
Num unique items: 235061

In [135]:
weighted_popularity = df.groupby('itemid', as_index=False)['event'].sum().sort_values('event', ascending=False)

### –í –Ω–∞–±–æ—Ä–µ –¥–∞–Ω–Ω—ã—Ö –µ—Å—Ç—å 3 —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –≤–∑–∞–∏–º–æ–¥–µ–π—Å—Ç–≤–∏—è: –ø—Ä–æ—Å–º–æ—Ç—Ä, –¥–æ–±–∞–≤–ª–µ–Ω–∏–µ –≤ –∫–æ—Ä–∑–∏–Ω—É, –ø–æ–∫—É–ø–∫–∞. –í—ã—Å—Ç–∞–≤–ª—é –∏–º –≤–µ—Å–∞ {1, 3, 6}

### 235 —Ç—ã—Å—è—á —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö —Ç–æ–≤–∞—Ä–æ–≤, –æ—Å—Ç–∞–≤–ª—é 5 —Ç—ã—Å—è—á —Å–∞–º—ã—Ö –ø–æ–ø—É–ª—è—Ä–Ω—ã—Ö —Å —É—á–µ—Ç–æ–º –≤–µ—Å–∞ –≤–∑–∞–∏–º–æ–¥–µ–π—Å—Ç–≤–∏–π

### –Ø —Å–æ–∑–¥–∞–º 3 User-Item –º–∞—Ç—Ä–∏—Ü—ã, —ç–ª–µ–º–µ–Ω—Ç–∞–º–∏ –≤ –∫–æ—Ç–æ—Ä—ã—Ö –±—É–¥—É—Ç —Å—É–º–º—ã –≤–∑–∞–∏–º–æ–¥–µ–π—Å—Ç–≤–∏–π –º–µ–∂–¥—É –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–º –∏ —Ç–æ–≤–∞—Ä–æ–º. –î–≤–µ –∏–∑ –Ω–∏—Ö —è –≤–∑–≤–µ—à—É —Å –ø–æ–º–æ—â—å—é tf-idf –∏ bm25, –æ–¥–Ω—É –æ—Å—Ç–∞–≤–ª—é –∫–∞–∫ –µ—Å—Ç—å. –†–∞–∑–ª–æ–∂—É —ç—Ç–∏ 3 –º–∞—Ç—Ä–∏—Ü—ã —Å –ø–æ–º–æ—â—å—é ALS, –ø–æ–ª—É—á—É —Ç—Ä–∏ –º–æ–¥–µ–ª–∏, –ø—Ä–æ—Ç–µ—Å—Ç–∏—Ä—É—é —Ç–æ—á–Ω–æ—Å—Ç—å –∏—Ö –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–π

In [137]:
def reduce_items(data, n_keep=5000, weighted_popularity=weighted_popularity):
    top = weighted_popularity.head(n_keep)['itemid'].values
    data.loc[~data['itemid'].isin(top), 'itemid'] = 999999
    return data

In [138]:
def get_user_item_matrix(data=df, n_keep=5000, weights=None):
    data = reduce_items(data, n_keep)
    users_uniq = CategoricalDtype(sorted(data.visitorid.unique()), ordered=True)
    items_uniq = CategoricalDtype(sorted(data.itemid.unique()), ordered=True)
    row = data.visitorid.astype(users_uniq).cat.codes
    col = data.itemid.astype(items_uniq).cat.codes
    matrix = csr_matrix((data['event'], (row, col)), 
                              shape=(users_uniq.categories.size, items_uniq.categories.size))
    if weights == 'bm25':
        return bm25_weight(matrix.T).T
    elif weights == 'tfidf':
        return tfidf_weight(matrix.T).T
    return matrix

In [139]:
def get_fitted_model(user_item_matrix):
    model = AlternatingLeastSquares(factors=20, regularization=1e-3, iterations=15, num_threads=4)
    model.fit(user_item_matrix.T)
    return model

In [141]:
user_item_matrix = get_user_item_matrix(df)

In [142]:
user_item_matrix_tfidf = get_user_item_matrix(df, weights='tfidf')
user_item_matrix_bm25 = get_user_item_matrix(df, weights='bm25')

In [143]:
model_als = get_fitted_model(user_item_matrix)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=15.0), HTML(value='')))

In [144]:
model_tfidf = get_fitted_model(user_item_matrix_tfidf)
model_bm25 = get_fitted_model(user_item_matrix_bm25)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=15.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=15.0), HTML(value='')))

In [156]:
users_uniq = CategoricalDtype(sorted(df.visitorid.unique()), ordered=True)
items_uniq = CategoricalDtype(sorted(df.itemid.unique()), ordered=True)

In [158]:
users_init = users_uniq.categories.tolist()
items_init = items_uniq.categories.tolist()

In [160]:
users_new = np.arange(len(users_init))
items_new = np.arange(len(items_init))

In [161]:
userid_to_id = dict(zip(users_init, users_new))
id_to_userid = {j: i for i, j in userid_to_id.items()}

itemid_to_id = dict(zip(items_init, items_new))
id_to_itemid = {j: i for i, j in itemid_to_id.items()}

In [162]:
def get_recommendations(u_id, model=model_als, matrix=user_item_matrix, num=5):
    recs = [id_to_itemid[rec[0]] for rec in 
                                    model.recommend(u_id, 
                                    user_items=matrix,
                                    N=num, 
                                    filter_already_liked_items=False, 
                                    filter_items=[itemid_to_id[999999]],
                                    recalculate_user=True)]
    return recs

In [163]:
_, df_test = train_test_split(df, test_size=0.1)

In [244]:
result = df_test.groupby('visitorid')['itemid'].unique().reset_index()

In [224]:
result = result[result['itemid'].astype(str) != '[999999]']

In [228]:
%%time
result['recs_als'] = result['visitorid'].apply(get_recommendations)

CPU times: user 1min 9s, sys: 10.3 s, total: 1min 19s
Wall time: 20.2 s

<timed exec>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [231]:
result.head()

    visitorid    itemid                                  recs_als
1           2  [325215]  [379520, 315545, 422425, 369447, 219512]
2           6   [65273]   [65273, 316753, 339703, 409804, 253615]
4          31  [465565]       [5411, 325310, 241555, 9877, 96924]
9          50  [331168]   [369447, 303715, 219512, 96924, 187946]
10         51   [49967]     [7943, 37029, 370653, 318333, 299222]

In [234]:
%%time
result['recs_bm25'] = result['visitorid'].apply(lambda x: get_recommendations(x, model_bm25, user_item_matrix_bm25))

CPU times: user 52min 40s, sys: 7min 47s, total: 1h 27s
Wall time: 15min 13s

<timed exec>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [235]:
%%time
result['recs_tfidf'] = result['visitorid'].apply(
    lambda x: get_recommendations(x, model_tfidf, user_item_matrix_tfidf))

CPU times: user 52min 34s, sys: 8min 4s, total: 1h 38s
Wall time: 15min 24s

<timed exec>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [243]:
result.head()

,visitorid,itemid,recs_als,recs_bm25,recs_tfidf
1,2,[325215],"[379520, 315545, 422425, 369447, 219512]","[259884, 29940, 449391, 342264, 216305]","[216305, 231243, 379520, 138427, 259884]"
2,6,[65273],"[65273, 316753, 339703, 409804, 253615]","[344723, 325852, 236180, 234493, 78163]","[65273, 316753, 253615, 339703, 22436]"
4,31,[465565],"[5411, 325310, 241555, 9877, 96924]","[465565, 159380, 264604, 447661, 17419]","[7943, 461686, 298009, 416017, 89775]"
9,50,[331168],"[369447, 303715, 219512, 96924, 187946]","[168952, 303833, 277762, 286645, 302329]","[232509, 151444, 429094, 357054, 341482]"
10,51,[49967],"[7943, 37029, 370653, 318333, 299222]","[227880, 272455, 76617, 49967, 83366]","[434782, 445351, 272455, 17114, 320130]"

In [237]:
result.to_csv('result.csv')

In [239]:
result.apply(lambda i: precision_at_k(i['recs_als'], i['itemid']), axis=1).mean() * 100

2.7917778043184733

In [240]:
result.apply(lambda i: precision_at_k(i['recs_tfidf'], i['itemid']), axis=1).mean() * 100

3.9805193943489017

In [241]:
result.apply(lambda i: precision_at_k(i['recs_bm25'], i['itemid']), axis=1).mean() * 100

9.43853921997405

### BM25 –≤–∑–≤–µ—à–∏–≤–∞–Ω–∏–µ –ø–æ–∫–∞–∑—ã–≤–∞–µ—Ç –Ω–∞–∏–ª—É—á—à–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç, –Ω–æ –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è –ø—Ä–æ–∏—Å—Ö–æ–¥—è—Ç –æ—á–µ–Ω—å –¥–æ–ª–≥–æ, –≤ –æ—Ç–ª–∏—á–∏–∏ –æ—Ç –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏—è –Ω–µ –≤–∑–≤–µ—à–µ–Ω–Ω–æ–π –º–∞—Ç—Ä–∏—Ü—ã